<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lion City Airline</title>
    <link rel="stylesheet" href="~/css/CustomerPage.css">
</head>

<body>
    <div class="container" id="#top">
        <header>
            <img src="~/images/login page image.png" alt="">
            <nav>
                <ul class="nav-links">

                    <li><a href="~/Home/AboutUs">About Us</a></li>
                    <li><a href="~/Home/ContactUs">Contact Us</a></li>
                    <li><a href="~/Home/Booking">Log In</a></li>
                    <li><a href="~/Home/Booking">Profile</a></li>


                </ul>
            </nav>
        </header>

        <img class="background" src="~/Images/Background pic.PNG" style="width: 100%" alt="">

    </div>
</body>
</html>