@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>

     @*Use Unicode character encoding - multi-language compatibity*@ 
    <meta charset="utf-8">

     @*Set the initial view zooming scale for mobile device*@ 
    <meta name="viewport" content="width = device-width, initial-scale = 1" />

    <title>Lion City Airline</title>

     @*Reference to customized styling for this website*@ 
    <link rel="stylesheet" type="text/css" href="~/css/CustomerLogIn-stylesheet.css">

    <style>
        body {
            background-color: antiquewhite;
        }
    </style>
</head>

<body>
    <div class="image-box box">
        <img src="~/Images/login page image.png" style="width: 20%"/>
    </div>
  
    <div class="col-md-8">
        <h1 class="PageTitle"> C U S T O M E R   L O G   I N </h1>
        <hr class="bg-white"> 
    </div>

    <div class="box">

        <form method="post" action="~/Staff/Index">
            <div class="row">
                <div class="col-md-2"></div>

                <div class="form-group row">

                    <label class="col-md-8">
                        <br>
                        Email Address: <br>
                        <input type="text" id="emailaddr" placeholder="" />
                    </label>

                </div>

                <div class="form-group row">

                    <label class="col-md-8">
                        <br>
                        Password: <br>
                        <input type="password" id="password" required="" placeholder="" />
                    </label>
                </div>

            </div>
            <br>

            <div class="row">
                <div class="col-md-2"></div>

                <label class="col-md-4">
                    
                </label>

                <label class="col-md-4">
                    <input style="margin-left:-20%" type="checkbox" label form="">Remember Me
                </label><br>

                <label class="col-md-4">
                    <input type="submit" id="signup" style="margin-right:-100%; color:royalblue" class="myButton2" value="Reset Password" />

                </label>


         



                <div class="row">
                    <div class="col-md-2"></div>

                    <label class="col-md-4">
                        
                    </label>


                    <label class="col-md-4">

                        <input type="submit" id="password" style="margin-left:30%"class="myButton1" value="Login">
                    </label>
                </div>
                <br>
                <div class="col">
                    <p style="margin-left:-10%">
                        Not a member?
                        <input type="submit" id="signup" style="margin-right:-10%;color:royalblue" class="myButton2" value="Sign Up Now!" />

                    </p>
                </div>
            </div>


        </form><br /><br />
    
            
        
            

    </div>

</body>
</html>




                 