@{ 
    ViewData["Title"] = "Welcome";
    Layout = "_StaffHeader"; 
 }

<!DOCTYPE html>
<body>
    <div class="col-md 6">

        <h3>Hello Staff</h3>

        <h4 style="text-align:center">Click one to get started!</h4>
        <br />
    </div>

    <container>
        <div class="row">
            <div class="col-md-6 viewzoom">
                <div>
                    <a href="/FlightRoute/Index"> <img src="/images/route.jpg" alt="Create Flight" class="staffpicssize"></a>
                    <figcaption>Create Flight</figcaption>

                </div>
            </div>

            <div class="col-md-6 viewzoom">
                <div>
                    <a href="/FlightSchedule/Index"> <img src="/images/schedule (2).jpg" alt="Create Schedule" class="staffpicssize"></a>
                    <figcaption>Create Schedule</figcaption>

                </div>
            </div>
        </div>

        @*<div class="row">
            <div class="col-md-6 viewzoom">
                <div>
                    <a href="/ViewFlight/UpdateFlight"> <img src="/images/create.jpg" alt="Update Flight" class="staffpicssize"> </a>
                    <figcaption>Update Flight</figcaption>
                </div>
            </div>
            <div class="col-md-6 viewzoom">
                <div>
                    <a href="/ViewFlight/ViewFlight">  <img src="/images/sia.jpg" alt="View Flight" class="staffpicssize"></a>
                    <figcaption>View Flight</figcaption>
                </div>
            </div>
        </div>*@
    </container>
</body>