<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lion City Airline</title>
    <link rel="stylesheet" href="~/css/homepage-style.css">
</head>

<body>
    <div class="container" id="#top">

        <header>
            <img src="~/images/login page image.png" alt="">
            <nav>
                <ul class="nav-links">

                    <li><a href="~/Home/AboutUs">About Us</a></li>
                    <li><a href="~/Home/ContactUs">Contact Us</a></li>
                    <li><a href="~/Home/Login">Log In</a></li>
                    <li><a href="~/Home/Signup">Sign Up</a></li>

                </ul>
            </nav>
        </header>

        @*<div class="container" id="#top">
            <header>
                <img src="~/images/login page image.png" alt="">
                <nav>
                    <ul class="nav-links">

                        <li><a href="~/Home/AboutUs">About Us</a></li>
                        <li><a href="~/Home/ContactUs">Contact Us</a></li>
                        <li><a href="~/Home/Login">Log In</a></li>
                        <li><a href="~/Home/Signup">Sign Up</a></li>

                    </ul>
                </nav>
            </header>
        </div>*@
    </div>
    
    @*<img class="background" src="~/Images/Staff_Homepage.png" style="width: 100%" alt="">*@
    <div class="box">
        <h4 style="text-align:center">Click one to get started!</h4>
        <br />
        <container>
            @*<div class="cot">
                    <h4 style="text-align:center">Click one to get started!</h4>
                    <br />
                </div>*@
            <div class="row">
                <div class="col-md-4 viewzoom">
                    <div>
                        <a href="/Home/Package2"> <img src="/images/schedule.jpg" alt="Schedule" class="staffpicssize"></a>
                        <p class"caption"> SCHEDULE </p>
                    </div>
                </div>


                <div class="col-md-4 viewzoom">
                    <div>
                        <a href="/Staff/PersonnelHomepage"> <img src="/images/personnel.jpg" alt="Personnel" class="staffpicssize"> </a>
                        <p class"caption"> PERSONNEL</p>
                    </div>
                </div>

                <div class="col-md-4 viewzoom">
                    <div>
                        <a href="/Staff/Index">  <img src="/images/aircraft.png" alt="Aircraft" class="staffpicssize center"></a>
                        <p style="font-weight:300"> AIRCRAFT</p>
                    </div>
                </div>
            </div>
            @*<div class="row">
                    <div class="col-md-4 viewzoom">
                        <div>
                            <a href="/Staff/Index">  <img src="/images/aircraft.png" alt="Aircraft" class="staffpicssize center"></a>
                            <p style="font-weight:300"> AIRCRAFT</p>
                        </div>
                    </div>

                </div>*@
        </container>
    </div>


</body>

</html>





