@model IEnumerable<web2020apr_p08_t5.Models.FlightRoute>

@{
    ViewData["Title"] = "View Flight Route";
    Layout = "_StaffHeader";
}

<h4 class="PageTitle">View Flight Route</h4>
<p><a asp-action="Create">Create New Route</a></p>
<!-- Add a partial view to display a list of staff records
    in a tabular format. -->
<partial name="~/Views/FlightRoute/_ViewFlightRoute.cshtml" model="@Model" />
