<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lion City Airline</title>
    <link rel="stylesheet" href="~/css/homepage-style.css">
</head>

<body>
    <div class="container" id="top">
        <header>
            <img src="~/images/login page image.png" alt="">
            <nav>
                <ul class="nav-links">

                    <li><a href="~/Home/AboutUs">About Us</a></li>
                    <li><a href="~/Home/ContactUs">Contact Us</a></li>
                    <li><a href="~/Home/Login">Log In</a></li>
                    <li><a href="~/Home/Signup">Sign Up</a></li>

                </ul>
            </nav>
        </header>
    </div>

    <div class="box">
        <h1 style="text-align: center">Flight Personnel</h1>
        <br />
        <container>
            <div class="row">
                <div class="col-4 viewzoom">
                    @*<a href="~/Staff/CreatePersonnel"><img src="~/Images/record_personnel.png" alt="Create Record" class="staffpicssize" /></a>*@
                    <a href="~/FlightPersonnel/Create"><img src="~/Images/record_personnel.png" alt="Create Record" class="staffpicssize" /></a>
                    <p class"caption">Create Record</p>
                </div>
            </div>

            <div class="row">
                <div class="col-4 viewzoom">
                    <a href="~/FlightPersonnel/Index"><img src="~/Images/view_personnel.png" alt="View Personnel" class="staffpicssize" /></a>
                    <p class"caption">View Personnel</p>
                </div>
            </div>

            <div class="row">
                <div class="col-4 viewzoom">
                    <a href=""><img src="~/Images/assign_personnel.png" alt="Assign Personnel" class="staffpicssize"/></a>
                    <p class"caption">Assign Personnel</p>
                </div>
            </div>

            <div class="row">
                <div class="col-4 viewzoom">
                    <a href="~"><img src="~/Images/update_personnel.png" alt="Update Status" class="staffpicssize"/></a>
                    <p class"caption">Update Status</p>
                </div>
            </div>
        </container>
    </div>
</body>
</html>